<mat-toolbar>
  <h3>Students</h3>
  <div class="menu-bar">
    <button mat-button (click)="saveBtnHandler()">
      New Student
    </button>
  </div>
</mat-toolbar>
<mat-spinner color="accent" *ngIf="isResultsLoading"></mat-spinner>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let student"> {{student.name}} </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="technology">
    <mat-header-cell *matHeaderCellDef> Technology </mat-header-cell>
    <mat-cell *matCellDef="let student"> {{student.technology}} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="experience">
    <mat-header-cell *matHeaderCellDef> Experience </mat-header-cell>
    <mat-cell *matCellDef="let student"> {{student.experience}} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="phone">
    <mat-header-cell *matHeaderCellDef> Contact </mat-header-cell>
    <mat-cell *matCellDef="let student"> {{student.phone}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let student">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editBtnHandler(student._id)">
        <mat-icon>edit</mat-icon>
        <span>Edit</span>
      </button>
      <button mat-menu-item (click)="deleteBtnHandler(student._id)">
        <mat-icon>delete</mat-icon>
        <span>Delete</span>
      </button>
    </mat-menu>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator pageIndex="0" #paginator [length]="resultsLength"
               [pageSize]="10"
               [pageSizeOptions]="[5, 10, 20]"
               [showFirstLastButtons]="true">
</mat-paginator>
