<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<app-card>
  <ng-container class="heading">
    <img class="card-img-top" src="https://lh3.googleusercontent.com/tDxpRq5qpWM7ksRord6jWtc7B2L4CH9Gpum9V4KxMry7gQkq0lsqoIypv2DNOfcV7g" alt="Card image cap">
  </ng-container>
  <ng-container class="body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </ng-container>
</app-card>

