<mat-card>
  <mat-card-title>{{student.name}}</mat-card-title>
  <mat-card-content>
    <table>
      <tr>
        <td class="column-title">Name</td>
        <td>{{student.name}}</td>
      </tr>
      <tr>
        <td class="column-title">Technology</td>
        <td>{{student.technology}}</td>
      </tr>
      <tr>
        <td class="column-title">Experience</td>
        <td>{{student.experience}}</td>
      </tr>
      <tr>
        <td class="column-title">Contact</td>
        <td>{{student.phone}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
